.results-container {
    padding: 2rem;
}

.results-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.track-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light border */
    border-radius: 2rem; /* Rounded corners */
    gap: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: all 0.2s ease-in-out;
    position: relative; /* For pseudo-element positioning */
    z-index: 1; /* Ensure content is above the pseudo-element */
}

.track-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    z-index: -1;
    transition: background-color 0.2s ease-in-out;
}

.track-item:hover::before {
    background-color: rgba(255, 255, 255, 0.15); /* Slightly more opaque on hover */
}

.track-item:hover {
    transform: scaleY(1.03) scaleX(1.005);
}

.result-album-art {
    width: 80px;
    height: 80px;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.track-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0; /* Allow the container to shrink */
}

.track-name, .artist-name, .album-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-name {
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Subtle shadow */
}

.artist-name {
    color: rgba(255, 255, 255, 0.8); /* Whiter shade */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Subtle shadow */
}

.album-name {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.8); /* Whiter shade */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Subtle shadow */
}

.download-button {
    padding: 0.5rem 1rem;
    background-color: rgba(29, 185, 84, 0.7); /* Spotify green with transparency */
    backdrop-filter: blur(5px); /* Apply a subtle blur to the button itself */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
    border-radius: 1rem;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    cursor: pointer;
    margin-left: auto;
    margin: 0;
    flex-shrink: 0; /* Prevent the button from shrinking */
    white-space: nowrap; /* Prevent text from wrapping */
}

.download-button:hover {
    background-color: rgba(44, 200, 99, 0.8); /* Slightly more opaque on hover */
}

.pagination-controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .results-container {
        padding: 0 1rem 1rem 1rem; /* Reduced padding for smaller screens */
    }
    
    h1 {
        margin: 1rem 0;
    }
}
