.settings-container {
    padding: 2rem;
}

.setting-item {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Glass blur effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light border */
    padding: 2rem;
    border-radius: 2rem; /* Rounded corners */
    margin-bottom: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.setting-item label {
    margin-right: 1rem;
}

.setting-item input {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(5px); /* Glass blur effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light border */
    font-size: medium;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 10px; /* Rounded corners */
    padding: 0.3rem 0.5rem;
    color: white; /* Ensure text is visible */
    -moz-appearance: textfield; /* Firefox */
}

/* Hide spin buttons for Chrome, Safari, Edge */
.setting-item input::-webkit-outer-spin-button,
.setting-item input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    margin-top: 1rem;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .settings-container {
        padding: 1rem; /* Reduced padding for smaller screens */
    }
}
