services:
  server:
    build: ./server
    ports:
      - "3001:3001"
    env_file:
      - ./server/.env
    volumes:
      - ./downloads:/usr/src/downloads
    dns:
      - 8.8.8.8
      - 8.8.4.4

  client:
    build: ./client
    ports:
      - "3000:80"
    depends_on:
      - server
